<div style="text-align:center">
  <h1>
    Http Observables Recipes
  </h1>
</div>
<div class="ex-container">
  <div class="categories">
    <ul>
      <li><a routerLink="/controllerSubscribing">Controller Subscribing</a></li>
      <li><a routerLink="/asyncPipe">Async Pipe</a></li>
      <li><a routerLink="/multipleUses">Multiple Uses</a></li>
      <li><a routerLink="/sharedMultipleUses">Shared Multiple Uses</a></li>
      <li><a routerLink="/pipelineRequests">Pipeline Requests</a></li>
      <li><a routerLink="/routingData">Routing Data</a></li>
      <li><a routerLink="/ngrxSimple">Ngrx Simple</a></li>
      <li><a routerLink="/ngrxEffects">Ngrx Effects</a></li>
    </ul>
  </div>
  <div class="examples">
    <router-outlet></router-outlet>
  </div>
</div>
<!--
<app-controller-subscribing></app-controller-subscribing>
<app-async-pipe-subscribing></app-async-pipe-subscribing>
<app-multiple-uses-subscribing></app-multiple-uses-subscribing>
<app-shared-multple-uses-subscriber></app-shared-multple-uses-subscriber>
<app-pipeline-requests-subscriber></app-pipeline-requests-subscriber>
-->